div .title_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.title_home {
    border: 0 solid #E2E8F0;
    box-sizing: border-box;
    color: #1A202C;
    font-size: 28px;
    font-weight: 900;
    line-height: 21px;
    margin: 0;
    outline: none;
    overflow-wrap: break-word;
}

.subtitle_home {
    box-sizing: inherit;
    color: #191C1E;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: center;
}

.div_input {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: inherit;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0 2px 2px 0, rgba(0, 0, 0, 0.12) 0 1px 5px 0;
    box-sizing: inherit;
    color: currentcolor;
    cursor: text;
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.5;
    margin: 0 0 8px;
    min-height: 48px;
    padding: 0 12px;
    position: relative;
    tab-size: 4;
    text-align: left;
    transition-delay: 0s;
    transition-duration: .3s;
    transition-property: height, min-height;
    transition-timing-function: cubic-bezier(.25, 0.8, 0.5, 1);
    width: 100%;
    word-break: normal;
}

.test {
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 0;
    border-style: none;
    box-sizing: inherit;
    caret-color: auto;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    flex: 1 1 auto;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: inherit;
    letter-spacing: normal;
    line-height: 20px;
    margin: 0;
    max-height: 32px;
    max-width: 100%;
    min-width: 0;
    padding: 8px 0;
    tab-size: 4;
    text-align: left;
    width: 100%;
    word-break: normal;
}

.product_tour_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}

.product_tour_element {
    width: 49%;
    min-height: 300px;
    margin: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_tour {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.text_tour {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.color_white {
    color: white;
}

.color_black {
    color: black;
}

/* Mobile */
@media only screen and (max-width: 575px){
    .product_tour_element {
        width: 100%;
        min-height: 300px;
        margin: 2px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title_home {
        border: 0 solid #E2E8F0;
        box-sizing: border-box;
        color: #1A202C;
        font-size: 19px;
        font-weight: 900;
        text-align: center;
        margin: 0;
        overflow-wrap: break-word;
    }

    .title_tour {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
    }

    .text_tour {
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
    }

}

